{% extends 'index.html' %}

<!-- Titulo de la pestaña -->
{% block titulo %}Paquetes Alimentarios{% endblock titulo %}
<!-- Nombre -->
{% block nombre %}Paquetes Alimentarios{% endblock nombre %}
<!-- Cuerpo -->
{% block cuerpo %}
<body>
    <h1>Eliminar asignacion de paquetes alimentarios</h1>
    <table class="tablas">
        <thead>
            <tr>
                <th>Comprobante</th>
                <th>Id Administrador</th>
                <th>Id Usuario</th>
                <th>Id Zona</th>
                <th>Cantidad</th>
                <th>Fecha de asignación</th>
                <th>Opcion</th>
            </tr>
        </thead>
        <tbody>
            {% for asignaciones in asignaciones  %}
                <tr>
                    <td>{{asignaciones.idcomprobante}}</td>
                    <td>{{asignaciones.idAdmistrador}}</td>
                    <td>{{asignaciones.idUsuario}}</td>
                    <td>{{asignaciones.codigoZona}}</td>
                    <td>{{asignaciones.cantidad}}</td>
                    <td>{{asignaciones.fechaDeAsignacion}}</td>
                    <td><a href="{% url 'eliminar' asignaciones.idcomprobante %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  
</body>
{% endblock cuerpo %}