{% extends 'index.html' %}

<!-- Titulo de la pestaña -->
{% block titulo %}Paquetes Alimentarios{% endblock titulo %}
<!-- Nombre -->
{% block nombre %}Paquetes Alimentarios{% endblock nombre %}
<!-- Cuerpo -->
{% block cuerpo %}
<body>
    <h1>Paquetes Alimentarios</h1>
    <table class="tablas">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Id Administrador</th>
                <th>Fecha de Expedición</th>
                <th>Fecha de Caducidad</th>
            </tr>
        </thead>
        <tbody>
            {% for paquetes in paquetes  %}
                <tr>
                    <th>{{ paquetes.codigo }}</th>
                    <th>{{ paquetes.idAdministrador }}</th>
                    <th>{{ paquetes.fechaDeExpedicion }}</th>
                    <th>{{ paquetes.fechaDeCaducidad }}</th>
                    <td><a href="{% url 'eliminarPaquete' paquetes.codigo %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  
</body>
{% endblock cuerpo %}
