{% extends 'index.html' %}
<!-- Titulo de la pestaña -->
{% block titulo %}Personas{% endblock titulo %}
<!-- Nombre -->
{% block nombre %}Lista de Personas{% endblock nombre %}
<!-- Cuerpo -->
{% block cuerpo %}
    <body>
        <h1>Listado de Personas</h1>
        <table class="tablas">
            <thead>
                <th>IDpersona</th>
                <th>DUI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Genero</th>
                <th>Numero</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>OPCIONES</th>
            </thead>
            <tbody>

                {% for persona in personas%}
                <tr>
                    <td>{{persona.idpersona}}</td>
                    <td>{{persona.dui}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.genero}}</td>
                    <td>{{persona.numeroTelefono}}</td>
                    <td>{{persona.correoElectronico}}</td>
                    <td>{{persona.rol}}</td>
                    <td><a href="{% url 'editarPersona' persona.idpersona %}">EDITAR </a><a href="{% url 'eliminarPersona' persona.idpersona %}"> ELIMINAR</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock cuerpo %}