
{% extends 'index.html' %}
<!-- Titulo de la pestaña -->
{% block titulo %}Asignacion de paquetes alimentarios{% endblock titulo %}
<!-- Nombre -->
{% block nombre %}Paquetes Alimentarios{% endblock nombre %}
<!-- Cuerpo -->
{% block cuerpo %}
    <h1>Paquetes Alimentarios</h1>
    <table class="tablas">   
        <thead>
            <tr>
                <th>Numero de Comprobante</th>
                <th>Codigo de Zona </th>
                <th>Fecha de asignacion</th>
            </tr>
        </thead>
        <tbody>
            {% for asignaciones in asignaciones %}
                <tr>
                    <td>{{asignaciones.idcomprobante }}</td>
                    <td>{{asignaciones.codigoZona }}</td>
                    <td>{{asignaciones.fechaDeAsignacion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="boton" href="{% url 'crearAsignacion' %}">Nuevo</a>
    <a class="boton" href="{% url 'eliminarAsignacionIndex' %}">Eliminar</a>  
{% endblock cuerpo %}

