{% extends 'index.html' %}
<!-- Titulo de la pestaña -->
{% block titulo %}Personas{% endblock titulo %}
<!-- Nombre -->
{% block nombre %}Lista de Personas{% endblock nombre %}
<!-- Cuerpo -->
{% block cuerpo %}
    <body>
        <h1>Listado de Personas</h1>
        <table class="tablas">
            <thead>
                <th>IDpersona</th>
                <th>DUI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
            </thead>
            <tbody>

                {% for persona in personas%}
                <tr>
                    <td>{{persona.idpersona}}</td>
                    <td>{{persona.dui}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.rol}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" href="{% url 'crearPersona' %}">NUEVO</a>
        <a class="btn btn-light" href="{% url 'indexEditarPersona' %}">EDITAR</a>
        <a class="btn btn-danger" href="{% url 'indexEliminarPersona' %}">ELIMINAR</a>
    </body>
{% endblock cuerpo %}