{% extends 'index.html' %}
<!-- Titulo de la pestaña -->
{% block titulo %}Paquetes Alimentarios{% endblock titulo %}
<!-- Nombre -->
{% block nombre %}Paquetes Alimentarios{% endblock nombre %}
<!-- Cuerpo -->
{% block cuerpo %}
<center>
    <h1>Iniciar sesión</h1>
        <form class="container-fluid" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">INICIAR SESION</button>
        </form>
</center>
{% endblock cuerpo %}